.order-table {
  width: 100%;
  border-collapse: collapse;

  th {
    background-color: #f0f0f0; // Light grey background for header
    color: #333; // Dark text color
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc; // Border below the header
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ddd; // Border between rows
  }

  .table-row:hover {
    background-color: #f9f9f9; // Highlight row on hover
  }
  // Make buttons more distinct
  .p-button-sm {
    margin-right: 5px; // Add some space between buttons
  }
}
