<header>
  <mat-toolbar color="primary" class="nav-toolbar">
    <!-- Navigation Links -->
    <nav class="nav-links">
      <a mat-button color="primary" [routerLink]="['/home']">
        <mat-icon></mat-icon>
        <span class="nav-text">Home</span>
      </a>
      <a mat-button color="primary" [routerLink]="['/inventory-list']">
        <mat-icon></mat-icon>
        <span class="nav-text">In Stock</span>
      </a>

      <!-- Place Order -->
      <a mat-button color="primary" [routerLink]="['/place-order']">
        <mat-icon></mat-icon>
        <span class="nav-text">Place Order</span>
      </a>

      <!-- Logout Button -->
      <a mat-button color="primary" [routerLink]="['/logout']">
        <mat-icon></mat-icon> <!-- Add an icon for logout -->
        <span class="nav-text">Logout</span>
      </a>
    </nav>
  </mat-toolbar>
</header>

<h1>Customer home page!!</h1>

