<header>
  <mat-toolbar color="primary" class="nav-toolbar">


    <!-- Navigation Links -->
    <nav class="nav-links">

      <a mat-button color="primary" [routerLink]="['/manage']">
        <mat-icon>home</mat-icon>
        <span class="nav-text">Home</span>
      </a>
      <a mat-button color="primary" [routerLink]="['/inventory-list']">
        <mat-icon>list</mat-icon>
        <span class="nav-text">Inventory List</span>
      </a>
      <a mat-button color="primary" [routerLink]="['/add-edit-inventory']">
        <mat-icon>edit</mat-icon>
        <span class="nav-text">Add/Edit Inventory</span>
      </a>
      <a mat-button color="primary" [routerLink]="['/remove-inventory']">
        <mat-icon>delete</mat-icon>
        <span class="nav-text">Remove Inventory</span>
      </a>
      <a mat-button color="primary" [routerLink]="['/order-management']">
        <mat-icon>shopping_cart</mat-icon>
        <span class="nav-text">Order Management</span>
      </a>
    </nav>
  </mat-toolbar>
</header>

<h1>Welcome To Employee Home Page!!</h1>
